@font-face {
    font-family: "Circular";
    src: url("./fonts/CircularStd-Book.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circularr";
    src: url("./fonts/CircularStd-Medium.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: "Circular Bold";
    src: url("./fonts/CircularStd-Black.ttf") format("truetype");
    font-weight: normal;
    font-display: swap;
}

* {
    font-family: "Circular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circular {
    font-family: "Circular";
}
.bold {
    font-family: "Circular Bold";
}
.medium {
    font-family: "Circularr";
}
@tailwind base;
@tailwind components;
@tailwind utilities;
